*{
	font-family: 'Asap', sans-serif;
}


a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
	padding-left: 0;
}


.navbar{
	border: none;
	background: none;
	box-shadow: none;
}

#about-section{
	text-align: left;
}

#social-media-menu{
	display:flex;
	justify-content: flex-start;
}

#social-media-menu li{
	margin: 20px 30px 10px 0;
}

footer{
	margin-top: 50px;
}






