*{
	font-family: 'Asap', sans-serif;
}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style: none;
	padding-left: 0;
}


ul li img{
	cursor: pointer;
}

.navbar{
	border: none;
	background: none;
	box-shadow: none;
}

/*.navbar .navbar-nav li a:hover{
	text-decoration: 
}*/


#portfolio-gallery ul{
	padding: 0;
	margin: 0;
}


#portfolio-gallery li{
	margin-bottom: 25px;
}



#social-media-menu{
	display:flex;
	justify-content: flex-start;
}

#social-media-menu li{
	margin: 20px 30px 20px 0;
}






